body {
    background-color: rgb(53, 53, 53);
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    background-color: rgb(182, 182, 182);
    border: 1px solid black;
    width: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;

    input {
        outline: none;
        text-align: center;
        background-color: rgb(182, 182, 182);
    }

    .delete {
        margin-left: 10px;
        border: 1px solid black;
        height: 25px;
        width: 25px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
                background-color: rgb(53, 53, 53);
                color: white;
            }
    }

    .result {
        margin-right: 10px;
    }

    .row {
        width: 100%;
        height: 45px;
        margin: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        &.first {
            border: 1px solid black;
        }

        .colum {
            border: 1px solid black;
            height: 45px;
            width: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.2rem;
            cursor: pointer;

            &:hover {
                background-color: rgb(53, 53, 53);
                color: white;
            }
        }
    }
}